# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

vendor/
tmp/
data/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.o
*.a
*.so
*.prof
*.out

# Editors
.idea/*
*.iml
*.iws
*.ipr
*.ids
*.orig

**/sponge_log.log

testing/kokoro/test-env.sh

# Vagrant
.vagrant/