<ng-container>
    <h3>Asset History #{{history[0].record.ID}}</h3> 
 </ng-container>
 
 <ng-container *ngFor="let asset of history">
     <mat-card style="margin: 2px;">
         <div>
             <span class="bold">ID: </span> {{asset.record.ID}}
         </div>
         <div>
             <span class="bold"> Color: </span> {{asset.record.color}}
         </div>
         <div>
             <span class="bold"> Size: </span> {{asset.record.size}}
         </div>
 
         <div>
             <span class="bold"> Owner: </span>{{asset.record.owner}}
         </div>
 
         <div>
             <span class="bold"> Appraised Value: </span>{{asset.record.appraisedValue}}
         </div>
 
         <div>
             <span class="bold"> TxID: </span>{{asset.txId}}
         </div>
         <div>
             <span class="bold"> Timestamp: </span>{{asset.timestamp | date :'dd-MM-yyyy hh:mm a'}}
         </div>
         <div>
             <span class="bold"> Deleted: </span>{{asset.isDelete}}
         </div>
     </mat-card>
 
 
 </ng-container>